<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>About</title>
  </head>
  <body>
    <h2>Biography</h2>
    <br />
    <img class="portrait" src="/images/BarbaraMcClintock.png" alt="portrait" />
    <br />
    <p>
      Barbara McClintock (June 16, 1902 - September 2, 1992) was an American
      scientist and cytogeneticist who was awarded the 1983 Nobel Prize in
      Physiology or Medicine. McClintock received her PhD in botany from Cornell
      University in 1927.
    </p>
    <p>
      Throughout her career, Barbara McClintock studied the cytogenetics of
      maize, making discoveries so far beyond the understanding of the time that
      other scientists essentially ignored her work for more than a decade. But
      she persisted, trusting herself and the evidence under her microscope.
    </p>
    <p>
      Early in her research at Cold Spring Harbor, McClintock began to study the
      mosaic colour patterns of maize at the genetic level. She had noted that
      the kernel patterns were too unstable, and changed too frequently over the
      course of several generations, to be considered mutations. What was
      responsible for this? The answer contradicted prevailing genetic theory.
    </p>
    <p>
      Aware that her work departed from the common wisdom, McClintock put off
      publishing her theories on genetic transposition and controlling elements
      until other researchers had confirmed her results. At last, in the summer
      of 1951, she gave a lecture on her findings at the annual symposium at
      Cold Spring Harbor Laboratory. It didn't go well. As she later recalled
      it, the audience was either perplexed by or hostile to her theories.
    </p>
    <p>
      Finally, in the mid-1960s, the scientific community began to come to the
      same conclusions, validating her findings and giving her the credit that
      was long overdue. McClintock received the Nobel Prize in Physiology or
      Medicine more than 30 years in 1983 after making the discoveries for which
      she was honoured.
    </p>
    <br />
    <br />
    <div class="backToHomepage">
      <a href="/home">Back to homepage</a>
    </div>
  </body>
</html>
