<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Gallery</title>
  </head>
  <body>
    <h2>Gallery</h2>
    <img class="research3" src="/images/research3.jpeg" alt="research3" />
    <br />
    <img class="research3" src="/images/work.jpeg" alt="work" />
    <br />
    <img class="research3" src="/images/corn.jpeg" alt="corn" />
    <br />
    <div class="backToHomepage">
      <a href="/home">Back to homepage</a>
    </div>
  </body>
</html>
