<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Works</title>
  </head>
  <body>
    <h2>Research</h2>
    <img class="research" src="/images/research1.jpeg" alt="research" />
    
    <h4>The Ac/Ds System of Transposable Elements</h4>
    <p>
      McClintock worked with what is known as the Ac/Ds system in maize, which
      she discovered by conducting standard genetic breeding experiments with an
      unusual phenotype. Through these experiments, McClintock recognized that
      breakage occurred at specific sites on maize chromosomes. Indeed, the
      first transposable element she discovered was a site of chromosome
      breakage, aptly named "dissociation" (Ds). Although McClintock eventually
      found that some TEs can "jump" autonomously, she initially noted that the
      movements of Ds are regulated by an autonomous element called "activator"
      (Ac), which can also promote its own transposition. Of course, these
      discoveries were preceded by extensive breeding experimentation. It was
      known at the time from previous work by Rollins A. Emerson, another
      American maize geneticist and the "rediscoverer" of Mendel's laws of
      inheritance, that maize had genes encoding variegated, or multicolored,
      kernels; these kernels were described as colorless (although they were
      actually white or yellow), except for spots or streaks of purple or brown
      (Figure 2). Emerson had proposed that the variegated streaking was due to
      an "unstable mutation," or a mutation for the colorless phenotype that
      would sometimes revert back to its wild-type variant and result in an area
      of color. However, he couldn't explain why or how this occurred. As
      McClintock discovered, the unstable mutation Emerson puzzled over was
      actually a four-gene system, as outlined in Table 1.
    </p>
    <p>
      In her experiments, McClintock bred females that were homozygous for C and
      bz and that lacked Ds (denoted CCbzbz--, where the dashes indicate the
      absence of Ds alleles) with males that were homozygous for C', Bz, and Ds
      (denoted C'C'BzBzDsDs) to yield heterozygotes with an aleurone layer that
      had the genotype C'CCBzbzbz--Ds. (Remember, in double fertilization, the
      sperm provides one set of alleles, and the egg provides two.) Because of
      the presence of the dominant inhibitor allele C', the offspring kernels
      were expected to be colorless, no matter what their genetic makeup at the
      Bz/bz locus. In fact, upon crossbreeding, many of these kernels were
      indeed colorless. However, McClintock also observed many kernels with
      colorless backgrounds and varying amounts of dark brown spots or streaks,
      and she concluded that individual cells in those kernels had lost their C'
      and Bz alleles because of a chromosomal break at the Ds locus. Without
      either the C' allele (to prevent color expression) or the Bz (purple)
      allele, the cells that had experienced a breakage at the Ds locus ended up
      with some brown coloring.
    </p>
    <div class="backToHomepage">
      <a href="/home">Back to homepage</a>
    </div>
  </body>
</html>
